* {
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans-Light'), url('../fonts/opensans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), url('../fonts/opensans-normal.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  src: local('OpenSans-Semibold'), url('../fonts/opensans-semibold.woff') format('woff');
}
html {
    min-width: 1200px;
}
html > body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #fff;
  color: #333;
  width: 100%;
  height: 100%;
}
#app {
  position: relative;
  margin-top: 6rem;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  min-width: 1200px;
}
#app h1,
#app h2,
#app h3,
#app h4 {
  color: #444;
  display: inline-block;
  margin-top: 0;
  position: relative;
}
#app .inline {
    display: inline-block;
}
#app .button-container {
  margin: 0;
  width: 100%;
}
#page-content {
    display: flex;
    flex-grow: 1;
}
#page-content .button-container button {
    min-width: 14.5rem;
}
#import-dialog .import-location-selector .field-input {
    display: block;
}
#app .generic-container {
    overflow: auto;
}
#app button.btn-default {
  padding: 0.7rem 2rem;
}
#navigation {
  position: fixed;
  font-size: 120%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  min-width: 1024px;
}
#navigation .navbar-nav {
  float: none;
  box-shadow: 0px 3px 10px 1px #999;
  width: auto;
  min-width: auto;
  margin: 0;
}
#navigation .nav {
  min-width: auto;
  background: #116095;
  margin: 0;
}
#navigation .nav ul {
  list-style: none;
  height: 100%;
}
#navigation .nav li {
  transition: background 0.3s ease-in-out;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 2rem;
  height: 6rem;
  border-right: 1px solid #1175aa;
}
#navigation .nav li.experimental {
    background: #bb3300;
    border-right: 1px solid #bb9900;
}
#navigation .nav li.experimental:hover {
    background: #cc5511;
}
#navigation .nav li.deprecated {
    background: #999999;
    border-right: 1px solid #888;
}
#navigation .nav li.deprecated:hover {
    background: #aaa;
}
#navigation .nav li.icon-only {
  display: inline-block;
  margin: 0;
  padding: 0rem;
  height: 6rem;
  border-right: 1px solid #1175aa;
}
#navigation .nav li a {
  color: #fafafa;
}
#navigation .nav li a:hover {
  background: none;
}
#navigation .nav li:hover {
  cursor: pointer;
  background: #1175aa;
}
#navigation .nav li.active {
  cursor: pointer;
  background: #1175aa;
}
a:hover {
  cursor: pointer;
}
#settings-nav {
  float: right;
  border-right: none;
  border-left: 1px solid #1175aa;
}
#settings {
  position: fixed;
  width: 34rem;
  right: -36rem;
  background: #fff;
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  height: calc(100vh - 6rem);
  top: 6rem;
  z-index: 900;
  transition: right 0.2s ease-in-out;
  border: 1px solid #999;
  box-shadow: 10px 15px 60px 1px #333;
  border-top-left-radius: 1rem;
}
#app .field-container {
    margin-bottom: 1rem;
    width: 30rem;
}
#app .field-required-label {
    display: none;
    float: right;
    margin-right: 1rem;
    position: relative;
}
#app .field-container .required-asterisk {
    padding-left: 1pt;
}
#app .field-container.show-validations .required-asterisk {
    color: #800;
}
#app .field-container.show-validations .field-required-label {
    display: inline;
    color: #800;
}
#settings button {
  margin: 0;
  flex-grow: 1;
  padding: 0.7rem 2rem;
}
#settings .button-container {
    display: flex;
}
#app .field-details-item-container {
    padding-bottom: 1rem;
}
#app .field-label {
    color: #777;
    font-size: 85%;
    display: inline-block;
    clear: both;
    font-weight: normal;
}
#app .field-label.required:after {
    content: " *";
}
#app select.field-input {
    min-height: 3rem;
    padding-left: 0.5rem;
    font-size: 90%;
    min-width: 30rem;
    margin-bottom: 1rem;
}
#app select.field-input option {
    padding-left: 1rem;
}
#app select:disabled {
    background: #ebebe4;
    color: #666;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
#app input.field-input, textarea.field-input, pre.field-input {
  width: 30rem;
  min-height: 3rem;
  padding: 0.5rem;
  margin: 0;
  color: #666;
  font-size: 90%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
#page-content input.field-input, textarea.field-input, pre.field-input {
  display: block;
}
#page-content input.field-input-checkbox {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0.5rem;
}
#settings input.field-input-checkbox {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0.5rem;
}
pre.field-input {
    background: #ebebe4;
    color: #666;
    min-height: 3rem;
    font-family: Arial, sans-serif;
}
#settings h4 {
  padding-left: 1rem;
}
#settings h4.section-heading {
  padding-left: 0rem;
  margin-top: 2rem;
  font-size: 100%;
}
#settings h4.section-heading:first-of-type {
  margin-top: 0;
}
#settings .button-container {
  padding: 0 1rem;
}
#settings .section-body {
  overflow-y: scroll;
  height: calc(100vh - 15.5rem);
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 0.5rem 0;
  padding-left: 1rem;
}
#settings.show {
  right: 0px;
  display: block-inline;
}
#settings .month-panel .label {
  font-size: 100%;
  color: #333;
}
#page-content img.input-field {
    position: relative;
    max-height: 30rem;
    display: block;
}
#settings .list-item {
  background: #1175aa;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem 0.2rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
  display: inline-block;
  color: white;
}
#settings .list-item-delete {
  padding-left: 0.5rem;
  color: #aef;
}
#settings .list-item-delete:hover {
  cursor: pointer;
  color: #fafafa;
}
#app .list-input select.field-input {
  width: 26.7rem;
  min-width: auto;
  margin-right: 0.3rem;
}
#app .list-input input.field-input {
  width: 26.7rem;
  min-width: auto;
  margin-top: 0;
  margin-right: 0.3rem;
}
#settings .list-input button {
  width: 3rem;
  margin-top: 0;
  padding: 0.5rem 0.5rem;
}
#loading p {
    opacity: 0.5;
    width: 100%;
    position: relative;
    margin: -48px;
    padding-top: 16rem;
    font-size: 40pt;
    font-weight: 100;
    text-align: center;
}
.supported-by {
    position: fixed;
    bottom: 10vh;
    left: calc(50vw - 125px);
    font-style:italic;
}
.supported-by .supported-by-text {
    position: relative;
    top: 45px;
    left: 30px;
    font-weight: light;
    color: #1c6b24;
}
.album-validation-summary {
    font-size: 140%;
}
.loading {
    position: fixed;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 10px 1px #333;
    top: 5rem;
    z-index: 1000;
    left: calc(50vw - 15rem);
    width: 30rem;
    text-align: center;
    padding: 3rem 5rem;
}
.loading img {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    display: block;
}
.sidebar {
    position: relative;
    left: -1rem;
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    background: #fafafa;
    width: 36rem;
    overflow: auto;
    border-right: 1px solid #ddd;
    height: calc(100vh - 6rem);
}
.sidebar ul {
    list-style: none;
    padding-left: 1rem;
    padding-top: 2rem;
    margin-right: 1rem;
}
.sidebar ul li {
    padding: 1rem;
    border-top: 1px solid #ddd;
}
.sidebar ul li:first-of-type {
    padding: 1rem;
    font-size: 120%;
    color: #666;
    border-top: none;
}
#page-content .main-content {
    margin-top: 2rem;
    position: relative;
    margin-left: 2rem;
    min-width: 40rem;
    width: 100%;
    flex-direction: column;
    flex-grow: 0;
    padding: 2rem;
    height: calc(100vh - 8rem);
    overflow: auto;
}
#page-content .main-content-container {
    padding-left: 1rem;
    flex: 1 1;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}
#page-content .no-problems {
    color: #283;
}
.sidebar .create-record-btn {
    float: right;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    position: relative;
}
#page-content .section-body {

}

#page-content .edit-btn {
    float: right;
}
#page-content .cancel-btn {
    margin-left: 1rem;
}
#page-content .delete-btn {
    margin-left: 1rem;
}
#page-content .actionmenu {
    position: absolute;
    left: 23rem;
    float: left;
    background: #eee;
    border: 1px solid #ccc;
    padding: 0.1rem 1rem;
}
#page-content .breadcrumbs {
    flex-grow: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}
#page-content .breadcrumb-item::after {
    padding: 0 0.5rem;
    content: ">"
}
#page-content .breadcrumb-item:last-of-type::after {
    padding: 0 0.5rem;
    content: normal;
}
#page-content .album-container {
    position: relative;
    float: left;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-bottom: 1px solid #eee;
}
#page-content div.timespan {
    float: left;
    width: 26rem;
    background: white;
    display: block;
    position: relative;
    clear: left;
    text-align: right;
    padding: 0.5rem 1.5rem;
}
#page-content .album-result {
    float: left;
}
#page-content .album-problem .album-result {
    padding-right: 0.6rem;
    padding-top: 0.2rem;
    width: 2rem;
    text-align: center;
}
#page-content .timespan .date-range {
    clear: both;
}
#page-content .album-result.success-result {
    color: #283;
}
#page-content .album-result.warning-result {
    color: #db0;
}
#page-content .album-result.failure-result {
    color: #a32;
}
#page-content .import {
    width: 100%;
}
#page-content div.album-details {
    position: relative;
    display: inline-block;
    white-space: normal;
    float: left;
    flex: 1 1 auto;
    overflow: hidden;
    padding-right: 6rem;
    padding: 0.5rem 0;
    padding-left: 2rem;
    background: #fafafa;
    border-left: 1px solid #eee;
}
#page-content .validation-heading {
    padding-left: 1.5rem;
    width: 100%;
    margin-top: 2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0;
}
.datepicker {
    margin-bottom: 1rem;
}
.datepicker .label {
    color: black;
}
#notification-dialog {
    position: fixed;
    box-shadow: 0px 0px 15px 1px #000;
    z-index: 2000;
    top: 8rem;
    left: calc(50vw - 25rem);
    border-radius: 0.5rem;
}
#notification-dialog .content {
    background: #fff;
    width: 50rem;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
}
#notification-dialog .error-title {
    margin-top: 0;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #800;
    color: #800;
}
#notification-dialog .info-title {
    margin-top: 0;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #008;
    color: #008;
}
#notification-dialog .error-ack {
    margin-top: 0;
    padding: 1rem;
    background: #800;
}
#notification-dialog button {
    width: 100%;
}
#notification-dialog p {
    text-align: center;
    padding: 0;
}
#notification-dialog textarea {
    max-width: 46rem;
}
#import-dialog {
    position: fixed;
    box-shadow: 0px 0px 15px 1px #000;
    z-index: 999;
    top: 10rem;
    left: calc(50vw - 17rem);
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
}
#import-dialog .content {
    background: #fff;
    width: 34rem;
    padding: 1rem 2rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
    margin: 0;
}
#import-dialog .button-container {
    padding-top: 1rem;
    display: flex;
}
#import-dialog .button-container button:first-child {
    margin-right: 1rem;
}
#import-dialog .button-container button {
    flex-grow: 1;
}
#import-dialog .field-input {
    margin-bottom: 1rem;
}
#import-dialog .import-folder {
    padding-bottom: 1rem;
}
.library {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.library .media {
    padding: 1rem;
    display: block;
    cursor: pointer;
    background: #fafafa;
    border: 1px solid #ddd;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
    margin-top: 0;
}
.library .media img {
    position: relative;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.library .media img:hover {
    opacity: 0.8;
}
#app .library .media:before {
    font-family: FontAwesome;
    font-size: calc(12.3vw * (3 / 6));
    margin-left: calc(12.3vw * (1 / 6) - 2rem);
    margin-top: -1.6rem;
    content: "\f03e";
    display: block;
    position: absolute;
    opacity: 0.1;
    color: #333;
}
.library .media.selected {
    background: #88a400;
}
.library .media.processed {
    border: 2px solid #1175aa;
}
.library .media.attention-needed {
    border: 2px solid #aa3311;
}
.library .media-collection {
    width: 32%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
}
.library .media-collection-content-wrapper {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    min-height: calc(100vh - 13.5rem);
}
.library .media-item-wrapper {
    padding-bottom: 5rem;
}
.library.restricted-mode .media-collection-content-wrapper {
    min-height: calc(100vh - 7.5rem);
}
.library .media-collection-container {
    margin: auto;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    overflow: auto;
    position: relative;
    width: 100%;
    flex-grow: 1;
}
.library .library-body {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-height: calc(100vh - 12rem);
}
.library.restricted-mode .library-body {
    max-height: calc(100vh - 6rem);
}
.library .identify-selection-bar {
    position: fixed;
    bottom: -6rem;
    left: 0;
    background: #fafafa;
    text-align: center;
    border-top: 1px solid #ccc;
    height: 5rem;
    width: calc(32% - 1.5rem);
    padding: 0.8rem;
    z-index: 50;
    transition: all 0.2s ease-in-out;
}
.library .identify-selection-bar.show-selection-bar {
    bottom: 0;
}
.library .media-control-panel {
    position: relative;
    flex-grow: 1;
    padding: 0;
    float: right;
    border-left: 1px solid #ccc;
    right: 0;
    margin: 0;
    background: white;
}
.library .mcp-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 0rem;
}
.library .media-control-panel .preview {
    position: relative;
    text-align: center;
    float: right;
    width: 100%;
}
.library.restricted-mode .media-control-panel img {
    max-height: calc(100vh - 6rem);
}
.library .media-control-panel img {
    position: relative;
    float: left;
    max-height: calc(100vh - 12rem);
    max-width: 100%;
    border: 1px solid #999;
    margin-bottom: 0;
    margin: auto;
}
.library .media-details-panel {
    position: absolute;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
    right: -25rem;
    width: 25rem;
    z-index: 400;
    height: 100vh;
    background: #fafafa;
    padding: 1rem;
    border-left: 1px solid #ccc;
    opacity: 0.8;
}
.library .identification-panel {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    opacity: 1;
}
#identification-panel .flex-row {
    display: flex;
    direction: row;
}
#app #identification-panel .flex-row .field {
    flex-grow: 1;
    width: 100%;
}
#app #identification-panel .flex-row .field select {
    width: 100%;
}
#identification-panel .single-field {
    width: 100%;
}
#identification-panel #identify-species-select {
    width: 100%;
}
#identification-panel {
    display: flex;
    flex-direction: column;
}
#identification-panel .identification-panel-content {
    flex-grow: 1;
}
#identification-panel .button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#app #identification-panel .button-container button {
    margin-left: 0;
    width: 100%;
    flex-grow: 1;
}
.library .remove-sighting {
    padding-top: 0.3rem;
    cursor: pointer;
    float: right;
}
.library .remove-sighting:hover {
    color: #aa3311;
}
.library .sighting-extra-details {
    margin-left: 2rem;
    color: #333;
    font-style: italic;
    font-size: 90%;
}
.library .media-details-panel.show-panel {
    right: 0rem;
}
.library .media-details-panel-text {
    position: absolute;
    transition: all 0.3s ease-in-out;
    right: -25rem;
    width: 25rem;
    z-index: 400;
    height: 100vh;
    padding: 1rem;
    border-left: 1px solid #ccc;
}
.library .media-details-panel-text.show-panel {
    right: 0rem;
}
.library .media-details-panel .details-panel-toggle {
    background: #116095;
    position: absolute;
    left: -3.5rem;
    top: 5rem;
    border: 1px solid #ccc;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
    width: 3.5rem;
    height: 10rem;
    padding: 0.2rem;
    padding-top: 1.2rem;
}
.library .media-details-panel-text .details-panel-toggle-text {
    position: absolute;
    left: -3.3rem;
    cursor: pointer;
    top: 6rem;
    width: 3rem;
    height: 10rem;
    padding: 0.2rem;
    font-size: 110%;
    padding-top: 1.7rem;
    color: #eee;
}
.library .close-details {
    color: #666;
    padding: 0.5rem;
    cursor: pointer;
}
.library .close-details:hover {
    color: #000;
}
.library .media-details-panel-text .details-panel-toggle-text:hover {
    color: #fff;
}
.library .media-details-panel-text .rotate {
    position: relative;

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    transform: rotate(-90deg);
    transform-origin: right bottom 0;

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#app .library .none-selected {
    position: relative;
    width: 100%;
    flex-grow: 1;
}
#app .library .details .data {
    min-height: 1rem;
}
#app .library .details-container .details {
    flex-grow: 1;
}
#app .library .details-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 16.5rem);
}
#app .library .selection-delete {
    font-size: 80%;
    text-align: right;
}
#app .library .preview-delete-button {
    float: right;
    position: relative;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    width: auto;
}
#app .library .preview-delete-button:hover {
    cursor: pointer;
    color: #aa3311;
}
#app .library label {
    font-size: 85%;
    font-weight: normal;
    color: #666;
    display: block;
    margin-bottom: 0;
    margin-top: 0.4rem;
}
#app .library .media-item {
    width: 33%;
    height: calc(12.3vw * (4 / 6));
    margin-top: 0;
    padding: 0.2rem;
    position: relative;
    display: inline-block;
}
#app .library .media-item:after:hover {
    opacity: 0;
}
#app .library .view-photo {
    position: absolute;
    display: block;
    top: 10%;
    left: 10%;
    opacity: 0.3;
    color: #fff;
    font-size: 250%;
    z-index: 3;
    transition: opacity 0.2s ease-in-out;
}
#app .library .view-photo:hover {
    opacity: 0.8;
}
#app .library .details .column {
    width: 25%;
    float: left;
    position: relative;
}
#app .library .none-selected h4 {
    position: relative;
    top: calc((100vh - 12rem) / 2.4);
}
#app .library.restricted-mode .none-selected h4 {
    top: calc((100vh - 6rem) / 2.4);
}
#app .library .selected-count {
    position: fixed;
    transition: all 0.3s ease-in-out;
    background: #88a400;
    color: white;
    font-size: 120%;
    padding: 0.3rem 1rem;
    opacity: 0.95;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    left: 50%;
    z-index: 400;
    margin: auto;
    top: 12rem;
}
#app .library .selected-count.hide-selected {
    top: 2rem;
}
#app .library .search-container {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    clear: both;
}
#app .library .field-input.short-input {
    display: inline-block;
    width: 8rem;
    min-width: auto;
}
#app .library .identification-options {
    position: relative;
    top: 0.5rem;
}
#app .library .identification-options > * {
    margin-left: 0.5rem;
}
#app .library .identification-options .field > label {
    margin-right: 0.5rem;
}
#app .library .field-input.auto-input {
    display: inline-block;
    width: auto;
    min-width: auto;
}
#app .library .field-input.long-input {
    display: inline-block;
    width: 22rem;
}
#app .library .field select.field-input.taxonomy-select {
    width: 15rem;
}
#app .library .identify-selected .field label {
    display: inline-block;
    padding-right: 1rem;
    font-size: 100%;
}
#app .library .search-bar {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
    padding-top: 0.8rem;
    font-size: 120%;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 6rem;
    z-index: 10;
    background: #fafafa;
    width: 100%;
}
#app .library .subfilter-bar button.search-main-op {
    width: 12rem;
}
#app .library .fa-search {
    font-size: 130%;
}
#app .library input.search {
    margin-left: 0.5rem;
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    width: 20rem;
}
#app .library button.search {
    position: relative;
    z-index: 10;
    opacity: 1;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#app .library .search-bar button {
    margin-right: 0.5rem;
}
#app .library .pagination-nav {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
}
#app .library .search-bar .field-input {
    margin-left: 0;
}
#app .library .search-bar select.field-input {
    width: auto;
    min-width: auto;
    max-width: 16rem;
}

#app .library .search-bar .survey-select {
    margin-right: 0.5rem;
}
#app .library .subfilter-bar .btn {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
#app .library .pagination-nav .btn {
    font-size: 1.5em;
}
#app .library .pagination-nav .describe-pagination {
    position: relative;
    padding: 0 1rem;
    display: inline-block;
    text-align: center;
    min-width: 14rem;
    max-width: 16rem;
}
.library .search-bar label {
    display: block;
}
.library .search-bar .search-option-container {
    position: relative;
    top: 0.6rem;
}
.library .search-bar .checkbox-container {
    display: inline-block;
    position: absolute;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: -0.6rem;
    padding-top: 0;
}
#app .library .search-bar .checkbox-container label {
    margin-top: 0;
}
.library .search-bar .flag {
    position: relative;
    color: #999;
    cursor: pointer;
    top: 0.5rem;
    padding-left: 1rem;
    opacity: 0.4;
    height: 4rem;
}
.library .search-bar .flag:hover {
    opacity: 0.6;
}
.library .flag.red {
    color: #aa3311;
    opacity: 0.9;
}
.library .flag.red:hover {
    color: #aa3311;
    opacity: 1;
}
.library .search-bar .reference-quality {
    position: relative;
    color: #999;
    cursor: pointer;
    top: 0.5rem;
    padding-left: 1rem;
    margin-right: 0.5rem;
    opacity: 0.4;
}
.library .search-bar .reference-quality:hover {
    opacity: 0.6;
}
.library .reference-quality.yellow {
    color: #ddbb00;
    opacity: 0.8;
}
.library .reference-quality.yellow:hover {
    color: #ddbb00;
    opacity: 1;
}
.library .search-bar .processed {
    position: relative;
    color: #999;
    cursor: pointer;
    top: 0.5rem;
    padding-left: 1rem;
    opacity: 0.4;
}
.library .search-bar .processed:hover {
    opacity: 0.6;
}
.pointer {
    cursor: pointer;
}
.green {
    color: #99d344;
}
.library .processed.green {
    color: #99d344;
    opacity: 0.9;
}
.library .processed.green:hover {
    color: #99d344;
    opacity: 1;
}
.library .search-bar .testfire {
    position: relative;
    color: #999;
    cursor: pointer;
    top: 0.5rem;
    padding-left: 1rem;
    opacity: 0.4;
}
.library .search-bar .testfire:hover {
    opacity: 0.6;
}
.library .testfire.lightblue {
    color: #65b1ff;
    opacity: 0.9;
}
.library .testfire.lightblue:hover {
    color: #65c3ff;
    opacity: 1;
}
.library .search-bar .action-container button.btn {
    position: relative;
    top: 0.4rem;
    vertical-align: top;
}
#app .version-string {
    float: right;
    font-size: 70%;
    padding-right: 1rem;
}
#app .library .btn.search {
    background: none;
    border: 1px solid #ccc;
    opacity: 0.5;
}
#app .library .btn.search-dirty {
    color: #116095;
    opacity: 1;
}
#app .library .btn.search:hover {
    color: #116095;
    opacity: 1;
}
#app .library .subfilter-bar {
    width: 100%;
    flex-shrink: 0;
    display: block;
    border-bottom: 1px solid #eee;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}
#app .library .subfilter-bar .subfilter-option {
    float: left;
    padding: 0 1rem;
    text-align: center;
    max-width: calc(100% - 15rem);
}
#app .library .search-bar .field-input {
    display: inline-block;
}
#app .library .identification-panel .field {
    display: inline-block;
    margin-right: 1rem;
}
#app .library .search-bar label {
    display: inline-block;
}
#app .library .subfilter-bar .subfilter-option:first-child {
    text-align: left;
}
#app .library .search-bar .field-input {
    display: inline;
}
#app .library .subfilter-bar .field-input {
    min-width: auto;
    width: auto;
}
#app .library .subfilter-bar label {
    display: inline;
}
#app .library .subfilter-bar select.field-input {
    display: block;
}
#app .library .search-bar input[type=checkbox] {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    margin: auto;
    margin-top: -0.4rem;
    text-align: center;
}
#app table {
    width: 100%;
}
#app tr.table-heading {
    background: #116095;
    color: white;
}
#app .table-heading th {
    border-right: 1px solid #1175aa;
    padding: 1rem 2rem;
}
#app .table-heading th:first-child {
    border-right: 1px solid #1175aa;
    padding: 1rem 2rem;
    text-align: left;
}
#app td {
    border-bottom: 1px solid #eee;
    padding: 1rem 2rem;
}
#app tbody tr:nth-child(even) {
    background: #fafafa;
}
#app tbody.selectable tr {
    cursor: pointer;
}
#app tbody.selectable tr {
    opacity: 1;
}
#app tbody.selectable tr:hover {
    color: #116095;
}
#app .table-heading td:first-child {
    border-left: 1px solid #1175aa;
}
#app .species-search .action-column {
    padding-left: 0;
    min-width: 16rem;
}

#app .species-search .species-search-table {
    width: 100%;
}

#app .species-search button {
    padding: 0.5rem 1rem;
}

#app .split-menu {
    overflow: auto;
    width: 100%;
}
#app .split-menu h4 {
    text-align: center;
    font-size: 200%;
    font-weight: 300;
    font-color: #999;
}
#app .split-menu .intro {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}
#app .split-menu .section-container:first-child {
    border-right: 1px solid #ccc;
}
#app .species-search input.species-search-input {
    width: calc(100% - 10rem);
}
#app .species-search {
    width: 100%;
}
#app .species-search form {
    width: 100%;
}
#app .species-search .spinner {
    text-align: center;
    float: center;
    margin: auto;
}
#app .species-search {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#app .split-menu .section-container {
    float: left;
    width: 50%;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 16rem);
}
#app .split-menu .field-input {
    width: 100%;
}
#app .split-menu .section {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    flex-grow: 1;
    flex-shrink: 0;
    height: calc(100vh - 16rem);
}
#app .split-menu .single-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-grow: 1;
    flex-shrink: 0;
    height: calc(100vh - 16rem);
    max-width: 50rem;
}
#app .split-menu .single-section.long-single {
    height: calc(100vh - 6rem);
}
#app .section-width {
    max-width: 50rem;
    margin: auto;
}
#app .split-menu .main-content-container {
    margin: auto;
    margin-top: 2rem;
}
#app .split-menu .main-content-container .main-content {
    margin: auto;
    float: none;
    padding-right: 0;
}
#app .split-menu .main-content-container .main-content .button-container {
    text-align: left;
}
#app .split-menu .section input {
    flex-shrink: 0;
}
#app .split-menu .no-species-found {
    color: #999;
    flex-grow: 1;
    margin: auto;
    padding-bottom: 4rem;
    vertical-align: middle;
}
#app .split-menu .no-species-found p {
    margin: auto;
    padding-top: 4rem;
    display: inline-block;
    float: center;
    vertical-align: middle;
}
#app .split-menu .survey-species {
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 2rem;
}
#app .split-menu .button-container {
    text-align: right;
}
#app .button-container button {
    margin: 0.5rem;
}
#page-content td .button-container button {
    width: auto;
}
#app .split-menu .button-container button:last-child {
    margin-right: 0rem;
}
#app .split-menu th:last-child {
    text-align: right;
    width: 22rem;
}
#app .split-menu td:last-child {
    text-align: right;
    width: 22rem;
}
#app .split-menu .survey-details-pane {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 10rem);
}
#app .btn-right-icon {
    padding-left: 1rem;
    font-weight: 100;
}
#app .scroll {
    height: 100%;
    overflow: auto;
    flex-direction: column;
}
#app .scroll table {
    max-height: 100%;
    overflow: auto;
}
#app .simple-menu {
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}
#app .simple-menu.scroll {
    height: calc(100% - 20rem);
}
#app .simple-menu .menu-item:first-of-type {
    border-top: 1px solid #eee;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#app .simple-menu .menu-item:last-of-type {
    border-bottom: 1px solid #eee;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#app .simple-menu .menu-item.active {
    background: #116095;
    color: #fff;
}
#app .simple-menu .menu-item.active:hover {
    background: #1175aa;
    color: #fff;
}
#app .simple-menu .menu-item.no-click {
    cursor: default;
}
#app .simple-menu .menu-item {
    padding: 2rem;
    border: 1px solid #eee;
    border-bottom: none;
    background: #fafafa;
    cursor: pointer;
    text-align: center;
}
#app .simple-menu .menu-item.detailed {
    height: 10rem;
    text-align: left;
}
#app .simple-menu .menu-item.detailed.dynamic {
    height: auto;
}
#app .simple-menu .menu-item:hover {
    background: #fff;
}
#app .simple-menu .menu-item-title {
    display: block;
    font-size: 110%;
}
#app .simple-menu .menu-item-description {
    font-size: 100%;
    font-weight: 100;
}
#app .simple-menu .menu-item-link {
    height: 100%;
    width: 100%;
    display: block;
    padding: 2rem;
    color: inherit;
}
#app .simple-menu .basic-menu-item-link {
    height: 100%;
    width: 100%;
    display: block;
    color: inherit;
}
#app .simple-menu a:hover {
    text-decoration: none;
}
#app .simple-menu .menu-item-link:active {
    text-decoration: none;
}
#app .simple-menu .menu-item-link:focus {
    text-decoration: none;
}
#app .simple-menu .menu-item-link:visited {
    text-decoration: none;
}
#app .simple-menu .menu-item.paddingless {
    padding: 0;
}

#app .menu-item label {
    margin: 0;
}
#app .menu-item .status {
    color: #666;
    font-size: 90%;
}
#app .split-menu .sep {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eee;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-shrink: 0;
}
#app .split-menu .section .btn {
    flex-shrink: 0;
    margin-bottom: 0.5rem;
}
#app .split-menu .section .btn:last-child {
    flex-shrink: 0;
}
#app .org-settings, #app .view-library {
    width: 50%;
    height: 6rem;
    margin: auto;
    margin-bottom: 3rem;
}
#app .citation-modal {
    position: absolute;
    left: calc(50% - 25rem);
    z-index: 500;
    width: 50rem;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 0px 15px 1px #666;
}
#app .hide-citation {
    float: right;
}
#app .citation-font {
    font-size: 9pt;
}

#app .progress-bar-container {
    width: 100%;
    margin-top: 1rem;
}
.progress-bar-container .progress-bar {
    position: relative;
    height: 1rem;
    background-color: #999;
    width: 100%;
    z-index: 5;
}
.progress-bar-container .progress-bar-state {
    position: relative;
    display: block;
    height: 1rem;
    background-color: #116095;
    z-index: 10;
}
.progress-bar-container .ignored-bar-state {
    position: relative;
    display: block;
    height: 1rem;
    top: -1rem;
    background-color: #cc8811;
    z-index: 11;
}
.progress-bar-container .error-bar-state {
    position: relative;
    display: block;
    height: 1rem;
    top: -2rem;
    background-color: #cc3311;
    z-index: 11;
}
#app .help-text {
    padding: 1rem;
    border: 1px dashed #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
#app .validation-warning {
    color: #cc3311;
}
#app .validated-component {
    margin-bottom: 1.5rem;
}
#app .validated-component .validation-warning {
    margin-top: -0.5rem;
}
#app button.btn-sml {
    padding: 0.3rem 1rem;
}
#app .blank-slate {
    padding-top: 6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #999;
    text-align: center;
}
#app .blank-slate .large {
    font-size: 180%;
}
#app .blank-slate .advice {
    padding-top: 2rem;
    font-size: 120%;
}
#app .guide {
    font-size: 120%;
    color: #999;
}
#app .guide .decorator {
    opacity: 0.8;
}
#app .concept-separator {
    padding-bottom: 0rem;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}
#app .back-button-container button {
    margin-top: 2rem;
    margin-left: 2rem;
    float: left;
    position: absolute;
}
#app .field-input-form .field-input {
    display: inline-block;
    width: calc(100% - 8rem);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
#app .field-input-form input[type=submit] {
    display: inline-block;
    float: right;
    width: 8rem;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#app .typeahead {
    display: inline-block;
}
#app .typeahead-spinner {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    max-height: 0;
    max-width: 0;
    top: -0.2rem;
    left: -2.4rem;
    overflow: visible;
}
#app .typeahead-menu {
    background: white;
    position: absolute;
    z-index: 10;
    width: 20rem;
    border: 1px solid #ccc;
    margin-left: 0.5rem;
    margin-top: -1rem;
    max-height: calc(100vh - 16rem);
    overflow: auto;
}
#app .typeahead-menu .menu-item {
    padding: 0.4rem 0.5rem;
    border-bottom: 1px solid #eee;
}
#app .typeahead-menu .menu-item:hover {
    background: #eee;
}
#app .typeahead-menu .menu-item.active {
    background: #eee;
}
#app .typeahead-menu .menu-item:last-child {
    border-bottom: none;
}
#app .file-input-field {
    width: 100%;
}
#app .remove-file {
    padding: 0.8rem;
    padding-bottom: 0.2rem;
    color: #999;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}
#app .remove {
    padding: 1rem;
    color: #999;
    cursor: pointer;
}
#app .remove.top-corner {
    padding: 0.2rem 1rem;
    margin-top: -1.2rem;
    margin-right: -2rem;
    font-size: 70%;
    color: #999;
}
#app .remove.top-corner.surveyfile {
    padding: 0.2rem 1rem;
    margin-top: 0.8rem;
    margin-right: 0;
    font-size: 70%;
}
#app .remove-file:hover {
    color: #666;
}
#app .remove:hover {
    color: #333;
}
#app textarea {
    resize: vertical;
}
.align-center {
    width: 100%;
    text-align: center;
    padding-top: 4rem;
}
#app .full-width {
    width: 100%;
}

#app .prompt .prompt-dialog {
    top: 0rem;
    width: 50rem;
    max-height: calc(100vh - 10rem);
    margin-left: calc(100vw / 2 - 25rem);
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 2rem;
    transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;
    outline: none;
}
#app .prompt .prompt-dialog.hide-above {
    top: -100vh;
}
#app .prompt-dialog .prompt-title {
    margin-top: 0;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 150%;
}
#app .prompt-dialog .prompt-body {
    margin: 1rem 0;
    overflow: auto;
    max-height: calc(100vh - 26rem);
}

#app .prompt-dialog .prompt-actions {
    padding-top: 1rem;
    border-top: 1px solid #ccc;
}
#app .prompt-dialog .prompt-actions .button-container {
    text-align: right;
}
#app .prompt-dialog .prompt-actions .button-container button {
    width: auto;
    min-width: 15rem;
}
#app .btn-flat {
    background: none;
    border: none;
}
#app .prompt .blanket {
    position: fixed;
    z-index: 999;
    opacity: 0.7;
    background: #333;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#app .prompt-question {
    padding-top: 2rem;
}
#navigation li#bulk-import-progress-nav {
    position: relative;
    float: right;
    color: #fafafa;
    border-right: none;
}
#bulk-import-progress-nav .bulk-import-progress {
    padding-top: 1.2rem;
}

#bulk-import-progress-nav .bulk-import-progress {
    position: relative;
    transition: opacity 3s ease-in-out;
    opacity: 1;
}
#bulk-import-details-panel {
    position: fixed;
    z-index: 950;
    background: white;
    border-bottom-left-radius: 0.5rem;
    width: 35rem;
    top: 6rem;
    right: 0;
    color: #333;
    transition: opacity 0.1s ease-in-out;
    overflow: hidden;
    cursor: default;
    opacity: 0;
    width: 0;
    box-shadow: 0px 3px 10px 1px #999;
}
#bulk-import-details-panel.expanded {
    width: 50rem;
    opacity: 1;
}
.bulk-import-sample-image {
    padding-top: 2rem;
    text-align: center;
}
#bulk-import-details-panel .bulk-import-progress-bar {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#bulk-import-details-panel .progress-bar-container {
    flex-grow: 1;
}
#bulk-import-details-panel .progress-numbers {
    position: relative;
    float: right;
}
#bulk-import-details-panel .bulk-import-details-container {
    padding: 1rem;
}
#bulk-import-details-panel .cancel-button {
    padding: 0 1rem;
    color: #999;
}
#bulk-import-details-panel .bulk-import-status.bulk-import-success {
    color: #99d344;
}
#bulk-import-details-panel .bulk-import-status {
    position: relative;
    margin-top: 1rem;
    margin-right: 1rem;
    float: right;
}
#bulk-import-details-panel .bulk-import-status.bulk-import-failure {
    color: #aa3311;
}
#bulk-import-details-panel .bulk-import-status.bulk-import-cancelled {
    color: #aa3311;
}
